@model OnlineJudge.Web.ViewModels.UserLoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div id="login_form">

    @using (Html.BeginForm("Login", "User", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post))
    {
        @Html.ValidationSummary(true, "Login failed. Check your login details");
        <div>
            <fieldset>
                <legend>Enter your credentials</legend>

                <div>@Html.LabelFor(u => u.Email)</div>
                <div>
                    @Html.TextBoxFor(u => u.Email)
                    @Html.ValidationMessageFor(u => u.Email)
                </div>

                <div>@Html.LabelFor(u => u.Password)</div>
                <div>
                    @Html.PasswordFor(u => u.Password)
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
            
                <input type="submit" value="Login" class="btn-primary"/>

            </fieldset>
        </div>
    }
    
</div>

<hr/>
