@model OnlineJudge.Web.Models.UserLoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed. Check your login details");
    <div>
        <fieldset>
            <legend>Login form</legend>

            <div>@Html.LabelFor(u => u.Email)</div>
            <div>
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>

            <div>@Html.LabelFor(u => u.Password)</div>
            <div>
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            
            <input type="submit" value="Login"/>

        </fieldset>
    </div>
}

<hr/>
