@model IList<Domain.Models.Problem>


<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Problem Code</th>
            <th>Problem Name</th>
            <th>Difficulty level</th>    
        </tr>
    </thead>
    <tbody>
        @foreach (var problem in Model)
        {
            <tr>
                <td>@problem.Code</td>
                <td><a href="@Url.RouteUrl("ProblemDetails", new { problemCode = @problem.Code })"> @problem.Name </a></td>
                <td>@problem.Difficulty</td>
            </tr>
        }
    </tbody>
</table>