@model Domain.Models.Problem

<div class ="outlined_box">
    <h2> <u> @Model.Code - @Model.Name </u> </h2>
    <hr/>

    <p><b><em><u>Description:</u></em></b></p>

    <p>
        @Model.ProblemStatement.Description;
    </p>

    <p><b><em><u>Specification:</u></em></b></p>

    <p>
        @Model.ProblemStatement.Specification;
    </p>

    <p>
        @{
            for (var idx = 0; idx < @Model.ProblemStatement.SampleInputs.Count; ++idx)
            {
                var sampleInput = @Model.ProblemStatement.SampleInputs[idx];
                var sampleOutput = @Model.ProblemStatement.SampleOutputs[idx];
            
                <p><b><u>Sample Input - @idx :</u></b></p>
                <p>
                    @{
                        foreach (var inputLine in sampleInput.InputLines)
                        {
                            <p> @inputLine </p>
                        }
                    }
                </p>
            
                <p> <b> <u> Sample Output - @idx : </u> </b></p>
                <p>
                    @{
                        foreach (var outputLine in sampleOutput.OutputLines)
                        {
                            <p> @outputLine </p>
                        }
                    }
                </p>
            }
        }
    </p>

    <hr/>

    @using (Html.BeginRouteForm("ProblemSubmit", new { problemCode = @Model.Code }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input class = "input-large" type="file" name="file"/>
        <input type="submit" value="OK" class="btn-primary"/>
        @Html.Hidden("problemCode", @Model.Code);
    }

</div>

<hr/>