@model Domain.Models.Problem

<h3>  @Model.Code - @Model.Name</h3>

<p>
    @Model.Statement
</p>

@using (Html.BeginRouteForm("ProblemSubmit", new { problemCode = @Model.Code }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file"/>
    <input type="submit" value="OK" class="ui-buttonset"/>
    @Html.Hidden("problemCode", @Model.Code);
}

<hr/>