<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active"><a href="@Url.Action("Home", "Home")">Home</a></li>
                <li><a href="@Url.Action("List", "Problem")">Problems</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                
            </ul>
            <ul class ="nav pull-right">
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        <div>
                            <a href="@Url.Action("Logout", "User")">Logout</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a href="@Url.Action("Login", "User")">Login | </a>
                        
                            <a href="@Url.Action("Registration", "User")">Register</a>    
                        </div>
                        
                    }
                </li>
            </ul>
        </div>
    </div>
</div>