<div id="navbar" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "active" : "")">
                    <a href="@Url.Action("Home", "Home")">Home</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "List" ? "active" : "")">
                    <a href="@Url.Action("List", "Problem")">Problems</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
                    <a href="@Url.Action("About", "Home")">About</a>
                </li>
                <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "ContactUs" ? "active" : "")">
                    <a href="@Url.Action("ContactUs", "Home")">Contact us</a>
                </li>
                
            </ul>
            <ul class ="nav pull-right">
                <li>
                    @if (Request.IsAuthenticated)
                    {
                        <div>
                            <a href="@Url.Action("Logout", "User")">Logout</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a href="@Url.Action("Login", "User")">Login | </a>
                        
                            <a href="@Url.Action("Registration", "User")">Register</a>    
                        </div>
                        
                    }
                </li>
            </ul>
        </div>
    </div>
</div>